<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0
">
    <title>{% block title %}DataBy AI Agent{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/Form.js') }}" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="app-container">
    {% block content %}{% endblock %}
    </div>
</body> 
<footer>
    <p>&copy; 2024 DataBy AI. All rights reserved.</p>
</footer>
</html>
